footer.l-footer
  .l-footer_inner
    .u-center_box
      .l-footer_main
        .l-footer_logo
          img(src="{{ asset('images/logo-feria-transparente.svg') }}", alt='Expogrados', height='30', width='160')
        .l-footer_social-networks
          a.l-footer_icon.l-footer_icon--fb(href="https://www.facebook.com/MasEducacionByAptitus", target="_blank")
            +g-icon("g-icon-facebook-circle")
  .u-center_box
    .l-footer_link
      .l-footer_links-list
        .l-footer_item © 2018 MásEducación
        .l-footer_item
          a.l-footer_link-enlace(href="https://ayudamaseducacion.aptitus.com/hc/es/articles/115001519507-T%C3%A9rminos-y-Condiciones", target="_blank") Términos de uso
        .l-footer_item
          a.l-footer_link-enlace(href="https://ayudamaseducacion.aptitus.com/hc/es/articles/115001519447-Pol%C3%ADtica-de-Privacidad", target="_blank") Políticas de Privacidad

