header.l-header#header
  .l-header_inner#headerInner
    .u-center_box
      .l-header_main
        .l-header_main__left
          a(href!="{{ url('homepage')}}", onclick!="{{ datalayer.createDataLayer('logo', 'Logo', 1, {'pagePath': app.request.uri})|raw }}")
            img.l-header_logo(src="{{ asset('images/logo-top.svg') }}", alt="Expogrados", height="42", width="208")
        .l-header_main-list
          ul.l-header_main__right
            li.l-header_menu(class!="{{ app.request.get('_route') == 'companies' ? 'is-active' : '' }}")
              .l-header_menu__wrapper
                a.l-header_menu__link(href="#")
                  span.l-header_title Instituciones participantes
                +g-icon("g-icon-arrow_down")
              ul.l-header_menu__company
                | {% for company in fair.companiesEducationHelper() %}
                li.l-header_menu__item
                  a.l-header_company-name(href!="{{ url('education_slug_record', {slug: company.slug }) }}", title!="{{ company.full_trade_name }}", onclick!="{{ datalayer.createDataLayer('pulldown', company.full_trade_name, 1, {'pagePath': app.request.uri})|raw }}") {{ company.trade_name }}
                | {% else %}
                li.l-header_menu__item
                  a.l-header_company-name(href!="javascript:;") No hemos encontrado instituciones.
                | {% endfor %}
        .l-header_sandwich.js-btn-mobile-menu(data-key="first")
          +g-icon("g-icon-menu")
include l-header-mobile
