.l-header-mobile.l-header-mobile--first.js-mobile-menu
  .l-header-mobile_mask.js-mobile-menu-mask
  .l-header-mobile_list.l-header-mobile_list--first
    li.l-header-mobile_list_item
      a.l-header-mobile_list_item__link(href!="{{ url('homepage') }}") Portada
    li.l-header-mobile_list_item
      a.l-header-mobile_list_item__link.js-show-company(data-key="second")
        | Instituciones participantes
        +g-icon("g-icon-arrow_down1")
.l-header-mobile.l-header-mobile--second.js-mobile-menu
  .l-header-mobile_mask.js-mobile-menu-mask
  .l-header-mobile_list.l-header-mobile_list--second
    li.l-header-mobile_list_item
      a.l-header-mobile_list_item__link--rotate.js-menu-back(data-key="first" href="#")
        +g-icon("g-icon-arrow_down1")
        span.l-header-mobile_item_text Instituciones participantes
    | {% for company in fair.companiesEducationHelper() %}
    li.l-header-mobile_list_item
      a(href!="{{ url('education_slug_record', {slug: company.slug }) }}", title!="{{ company.full_trade_name }}", onclick!="{{ datalayer.createDataLayer('pulldown', company.full_trade_name, 1, {'pagePath': app.request.uri})|raw }}")
        span.l-header-mobile_item_text {{ company.trade_name }}
    | {% else %}
    li.l-header-mobile_list_item
      a(href!="javascript:;")
        span.l-header-mobile_item_text No hemos encontrado instituciones.
    | {% endfor %}
