.g-form.js-contact-offer
  form#frmContactOffer.g-form_default(autocomplete="off")
    .g-form_row
      span.g-form_header-text.js-error-message Completa tus datos para recibir más información
    .g-form_row
      .g-form_col
        fieldset.js-fieldset
          input#txtName.js-input(type="text", name="name", placeholder="Nombres", value!="{{ contactLead.name }}", minlength="5", maxlength="150", required)
    .g-form_row
      .g-form_col.js-email
        fieldset.js-fieldset
          input#txtEmail.js-input(type="email", name="email", placeholder="Correo", value!="{{ contactLead.email }}", maxlength="100", required)
    .g-form_row
      .g-form_col
        fieldset.js-fieldset
          input#txtPhone.js-input(type="text", name="phone", placeholder="Teléfono", value!="{{ contactLead.phone }}", maxlength="25", required)
    .g-form_row
      .g-form_col
        fieldset.js-fieldset
          input#txtId(type="hidden", name="id", value!="{{ data.id }}")
          textarea(minlength="10", maxlength="1000", name="message", required)
            | Hola, estoy interesado en {{ data.title }} y me gustaría recibir más información al respecto.
            | Saludos.
    //-- Es necesario realizar la condicional a este nivel para evitar espacios en blancos que windows
    //-- toma como contenido el cual afecta a los estilos en css ':not(:empty)'
    | {% if showCaptcha %}
    .g-form_row.js-recaptcha.g-form_row--recaptcha
      .g-recaptcha.js-captcha(data-sitekey!="{{ siteKeyGoogle }}")
    | {% else %}
    .g-form_row.js-recaptcha.g-form_row--recaptcha
    | {% endif %}
    .g-form_row
      span.g-form_footer-text Al contactar acepto la&nbsp;
        a.g-form_footer-text_link(href!="https://ayudamaseducacion.aptitus.com/hc/es/articles/115001519447-Pol%C3%ADtica-de-Privacidad", target="_blank") Política de Privacidad
        |  y&nbsp;
        a.g-form_footer-text_link(href!="https://ayudamaseducacion.aptitus.com/hc/es/articles/115001519507-T%C3%A9rminos-y-Condiciones", target="_blank") Términos y Condiciones
        |  de MásEducación.
    | {% set user = auth.getUser() %}
    .g-form_row
      button.js-send-form.g-btn.g-btn--skyblue(type="submit", class!="", data-id-user!="{{ user is empty ? '' : user.id }}", data-id-ad!="{{ data.id }} ")
        span.g-btn__label Contactar
        span.g-btn__spinner
  .b-form-contact.u-hide.js-contact-request-success
    p.b-form-contact_message Muchas gracias&nbsp;
      span.js-name.g-form-contact_name-text
      | ,
    p Hemos enviado tus datos de contacto a la institución, además te enviamos un correo con los datos de la misma.
    p Te recomendamos ponerte en contacto a la brevedad.
    p.b-form-contact_title Contacto:
    p.js-contact-name
    p.b-form-contact_title Correo:
    p.js-contact-email
    p.b-form-contact_title Teléfono:
    p.js-contact-telephone
