.g-aside {
  font-family: $familySans;
  padding-top: 23px;
  width: 271px;
  &_social-networks {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
  &_description {
    color: #787777;
    font-size: 15px;
    width: 75px;
  }
  .g-btn {
    border-radius: 8px;
    display: block;
    font-size: 17px;
    height: 46px;
    line-height: 46px;
    margin-left: auto;
    text-transform: capitalize;
    width: 213px;
  }
  .g-icon-postulate-view {
    fill: #ffffff;
    margin-right: 10px;
  }
  // offer-education
  &_sticky {
    position: absolute;
    top: 65px;
    transition: top 0.1s ease;
    width: inherit;
  }
  .is-fixed {
    position: fixed;
    top: 122px;
    width: 250px;
    z-index: 1000;
  }
}
