.g-offer {
  padding: 23px 15px 0 0;
  width: calc(100% - 271px);
  &--education {
    min-height: 800px;
    position: relative;
    .g-form {
      padding: 15px;
    }
  }
  &_ads-btn {
    top: 233px;
  }
  &_navigation-mobile {
    display: none;
  }
  &_content {
    padding: 30px 0 15px 0;
  }
  &_btn-back {
    color: $skyblue;
  }
  &_btn-back-link {
    text-decoration: underline;
  }
  &_main {
    display: flex;
    flex-wrap: wrap;
  }
  &_header {
    align-items: center;
    display: flex;
    margin-bottom: 29px;
    position: relative;
  }
  &_header-logo {
    border: 1px solid #f5f5f5;
    height: 90px;
    width: 90px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  &_company-title {
    padding-left: 25px;
    width: calc(100% - 75px);
    &--mobile {
      background: #ffffff;
      box-shadow: -1px 4px 7px 0 rgba(0, 0, 0, 0.2);
      display: none;
      position: fixed;
      top: -150px;
      z-index: 1;
      &.is-active {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.38);
        height: 65px;
        left: 0;
        padding: 16px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10001;
        .g-offer_title {
          font-size: 18px;
          margin: 0;
        }
        .g-offer_subtitle {
          display: block;
        }
        .g-offer_title,
        .g-offer_subtitle {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  &_title {
    color: $skyblue;
    font-size: 22px;
    margin-bottom: 9px;
    &--about {
      color: #000000;
      font-family: $familySans;
      font-size: 17px;
      font-weight: 700;
    }
  }
  &_subtitle {
    color: #000000;
    font-family: $familyDefault;
    font-size: 14px;
  }
  &_body {
    display: flex;
    flex-direction: column;
    font-family: $familySans;
  }
  &_detail-list {
    column-count: 2;
    max-height: 150px;
  }
  &_detail-item {
    display: flex;
    margin-bottom: 10px;
    &__text {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 30px);
    }
    &__name {
      color: #000000;
      font-weight: 700;
      width: 185px;
    }
  }
  &_information {
    background: #f5f5f5;
    margin: 20px 0;
    padding: 30px;
    .g-icon {
      fill: #7b7b7b;
      margin: 2px 9px 0 0;
      transform: rotate(180deg);
      width: 10px;
    }
    .is-active {
      .g-icon {
        transform: rotate(0deg);
      }
    }
  }
  &_information-item-wrapper {
    color: #000;
  }
  &_information-item {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    &_title {
      cursor: pointer;
      display: flex;
      margin-left: -19px;
    }
    &_content {
      max-height: 162px;
      overflow: hidden;
      &.is-active {
        max-height: none;
      }
      p {
        line-height: 16px;
        margin: 0 0 16px;
      }
      ul {
        margin: 1em 0;
        padding-left: 40px;
        li {
          list-style: disc;
          margin: 5px 0;
        }
      }
    }
    &_link {
      color: $skyblue;
      display: none;
      margin-top: 17px;
      text-decoration: underline;
    }
  }
  &_mobile {
    display: none;
  }
  &_button--mobile.is-active {
    background: rgba(255, 255, 255, 0.8);
    bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
  }
  &_title-networks {
    width: 200px;
  }
}
