.b-form-contact {
  text-align: justify;
  &_message {
    font-size: 14.5px;
    font-weight: bold;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
  &_name-text {
    display: inline;
  }
  &_title {
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 5px;
  }
  .g-btn {
    font-family: $familyBold;
  }
}
