map.js-map(name="map", data-version="desktop")
  | {% for company in front_companies %}
  area(
  shape="poly",
  coords!="{{ company.mapping }}",
  href!="{{ url('education_slug_record', {slug: company.slug }) }}",
  data-rel!="stand{{ company.id }}",
  onclick!="{{ datalayer.createDataLayer('company', company.trade_name, 1, {'pagePath': app.request.uri, 'companySlug': company.slug })|raw }}"
  )
  | {% endfor %}
  | {% if sponsors is not empty %}
  | {% for sponsor in sponsors %}
  //- patrocinadores
  area(
  shape="poly",
  coords!="{{ sponsor.coords.desktop }}",
  href!="{{ sponsor.url }}",
  target!="_blank"
  )
  | {% endfor %}
  | {% endif %}