extends ../_layout/base.pug

block eplanning
  +script-eplanning({sec:"DetalleAviso",eIs:"['Top']"})

//- block seo
//-   link(rel='canonical', href="{{ data.url }}")

block stylesheets
  link(rel='stylesheet', type='text/css', href="{{ asset('education-offer.css') }}")

block content
  .g-offer_navigation
    a.g-btn--skyblue.g-navigation_button.g-navigation_button--right.g-offer_ads-btn(href!="{{ url.previous }}")
      +g-icon("g-icon-arrow_right2")
    a.g-btn--skyblue.g-navigation_button.g-navigation_button--left.g-offer_ads-btn(href!="{{ url.next }}")
      +g-icon("g-icon-arrow_right2")
  .u-center_box
    .g-offer--education.js-container-offer
      .g-offer_content
        .g-offer_btn-back
          a.g-offer_btn-back-link(href!="{{ url.stand }}") Regresar a Stand
        include ../_layout/includes/flash-messages.pug
        .g-offer_main
          .g-offer
            | {% if auth.isLoggedIn() %}
            +g-eplanning("Top")
            | {% endif %}
            .g-offer_header
              .g-offer_navigation-mobile
                a.g-btn--skyblue.g-navigation_button.g-navigation_button--right.g-offer_ads-btn(href!="{{ url.previous }}")
                  +g-icon("g-icon-arrow_right2")
                a.g-btn--skyblue.g-navigation_button.g-navigation_button--left.g-offer_ads-btn(href!="{{ url.next }}")
                  +g-icon("g-icon-arrow_right2")
              .g-offer_header-logo.u-center-image
                img(src!="{{ data.logo }}",class="u-image-company-logo", alt!="{{ data.institution_name }}", onerror!="this.src = '{{ asset('/images/image-not-found-edu.jpg') }}';")
              .g-offer_company-title.js-ads-detail-title
                h2.g-offer_title {{ data.title }}
                h5.g-offer_subtitle {{ data.institution_name }}
              .g-offer_company-title--mobile.js-ads-fixed
                .g-offer_title {{ data.title }}
                span.g-offer_subtitle {{ data.institution_name }}
            .g-offer_body
              .g-offer_detail
                ul.g-offer_detail-list
                  | {% if data.type is not empty %}
                  li.g-offer_detail-item
                    span.g-offer_detail-item__name Tipo
                    span.g-offer_detail-item__text
                      | {{ data.type }}
                  | {% endif %}
                  | {% if data.modality is not empty %}
                  li.g-offer_detail-item
                    span.g-offer_detail-item__name Modalidad
                    span.g-offer_detail-item__text
                      | {{ data.modality }}
                  | {% endif %}
                  | {% if data.inscription_start_at is not empty %}
                  li.g-offer_detail-item
                    span.g-offer_detail-item__name Inscripción desde
                    span.g-offer_detail-item__text
                      | {{ data.inscription_start_at }}
                  | {% endif %}
                  | {% if data.start_at is not empty %}
                  li.g-offer_detail-item
                    span.g-offer_detail-item__name Inicio de clases
                    span.g-offer_detail-item__text
                      | {{ data.start_at }}
                  | {% endif %}
                  | {% if data.duration is not empty %}
                  li.g-offer_detail-item
                    span.g-offer_detail-item__name Duración
                    span.g-offer_detail-item__text
                      | {{ data.duration ~ " " ~ data.duration_type}}
                  | {% endif %}
                  | {% if data.ubigeo is not empty %}
                  li.g-offer_detail-item
                    span.g-offer_detail-item__name Ubicación
                    span.g-offer_detail-item__text
                      | {{ data.ubigeo }}
                  | {% endif %}
                  | {% if data.availableSchedule is not empty %}
                  li.g-offer_detail-item
                    span.g-offer_detail-item__name Horario
                    span.g-offer_detail-item__text
                      | {{ data.availableSchedule }}
                  | {% endif %}
                  | {% if data.vacants is not empty %}
                  li.g-offer_detail-item
                    span.g-offer_detail-item__name Vacantes
                    span.g-offer_detail-item__text
                      | {{ data.vacants }}
                  | {% endif %}
                  | {% if data.price is not empty %}
                  li.g-offer_detail-item
                    span.g-offer_detail-item__name Precio
                    span.g-offer_detail-item__text
                      | {{ data.price }}
                  | {% endif %}
                  | {% if data.certification is not empty %}
                  li.g-offer_detail-item
                    span.g-offer_detail-item__name Certificación
                    span.g-offer_detail-item__text
                      | {{ data.certification }}
                  | {% endif %}
              .g-offer_information.js-content-description
                .g-offer_information-item
                  .g-offer_information-item_title.js-accordion-title
                    +g-icon("g-icon-arrow_down1")
                    h2.g-offer_title.g-offer_title--about Descripción
                  .g-offer_information-item-wrapper {{ data.description|raw }}
                | {% if data.objective is not empty %}
                .g-offer_information-item
                  .g-offer_information-item_title.js-accordion-title
                    +g-icon("g-icon-arrow_down1")
                    h2.g-offer_title.g-offer_title--about Objetivos
                  .g-offer_information-item-wrapper
                    .g-offer_information-item_content.js-current-content(data-height="150") {{ data.objective|raw }}
                    a.g-offer_information-item_link.js-btn-view-more(href="javascript:;" title="ver más") Ver más
                | {% endif %}
                | {% if data.aimed_at is not empty %}
                .g-offer_information-item
                  .g-offer_information-item_title.js-accordion-title
                    +g-icon("g-icon-arrow_down1")
                    h2.g-offer_title.g-offer_title--about ¿A quién está dirigido?
                  .g-offer_information-item-wrapper {{ data.aimed_at|raw }}
                | {% endif %}
                | {% if data.requirements is not empty %}
                .g-offer_information-item
                  .g-offer_information-item_title.js-accordion-title
                    +g-icon("g-icon-arrow_down1")
                    h2.g-offer_title.g-offer_title--about Requisitos
                  .g-offer_information-item-wrapper {{ data.requirements|raw }}
                | {% endif %}
                | {% if data.teaching_staff is not empty %}
                .g-offer_information-item
                  .g-offer_information-item_title.js-accordion-title
                    +g-icon("g-icon-arrow_down1")
                    h2.g-offer_title.g-offer_title--about Plana Docente
                  .g-offer_information-item-wrapper {{ data.teaching_staff|raw }}
                | {% endif %}
                | {% if data.syllabus is not empty %}
                .g-offer_information-item
                  .g-offer_information-item_title.js-accordion-title
                    +g-icon("g-icon-arrow_down1")
                    h2.g-offer_title.g-offer_title--about Temario
                  .g-offer_information-item-wrapper {{ data.syllabus|raw }}
                | {% endif %}
            .g-offer_mobile
              .g-offer_button--mobile.js-btn-mobile
                a.g-btn.g-btn--skyblue.js-open-contact
                  span.g-btn__label
                    | Contactar
                  span.g-btn__loader
          .g-aside
            .js-box-contact.g-aside_sticky
              .g-aside_box.g-aside_contact
                include ./../_partials/education-offer/includes/b-form-contact.pug
              .g-aside_social-networks
                span.g-aside_description Compartir
                div.u-social-media.js-social-media-container(data-title!="{{ data.title }}", data-url!="{{ app.request.uri }}")
                  a.u-social-media_link-view.js-fb(href="javascript:;")
                    +g-icon("g-icon-facebook_square")
                  a.u-social-media_link-view.js-twitter(href!="{{ app.request.uri }}")
                    +g-icon("g-icon-twitter_square")
                  a.u-social-media_link-view.js-linkedin(href!="{{ app.request.uri }}")
                    +g-icon("g-icon-linkedin_square")
                  a.u-social-media_link-view.js-google-plus(href!="{{ app.request.uri }}")
                    +g-icon("g-icon-google_plus_square")
block scripts
  script(src="{{ asset('education-offer.js') }}", defer)
