.b-company {
  color: #333;
  margin: 10px 0 162px;
  &_title {
    align-items: center;
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    &:after,
    &:before {
      border-bottom: 1px solid #333;
      content: "";
      height: 2px;
      width: 15px;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
    &__text-seo {
      font-size: 21px;
      margin: 0 8px;
    }
    &__icon {
      .g-icon {
        height: 30px;
        margin: 0 8px;
        width: 30px;
      }
    }
  }
  &_wrapper {
    margin: 0 10px;
    padding: 45px 0 0;
    &--sponsor {
      .b-company_title {
        margin-top: 30px;
      }
    }
  }
  &_box-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 800px;
    &--participating {
      margin-top: 38px;
      max-width: 960px;
    }
    &--sponsor {
      justify-content: center;
    }
  }
  &_item {
    margin: 15px;
    &--participating {
      background: #fff;
      box-shadow: 0 1px 10px hsla(0, 0%, 55%, 0.2);
      display: block;
      height: 243px;
      margin: 0 20px 20px 0;
      position: relative;
      width: calc(100% * 1 / 4 - 15px);
      &:nth-child(1n) {
        margin-right: 20px;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &_logo {
    &--sponsor {
      height: 78px;
      width: 170px;
      .b-company_img {
        border-radius: 3px;
      }
    }
    &--participating {
      height: 82px;
      margin: 32px 15px 18px;
      width: auto;
    }
  }
  &_box-category {
    position: relative;
    width: 100%;
    &--gold {
      border-top: 3px solid #ffd15c;
    }
    &--silver {
      border-top: 3px solid #dcdcdc;
    }
    &--bronze {
      border-top: 3px solid #eec9ae;
    }
  }
  &_description {
    padding: 10px;
  }
  &_description-title {
    color: $skyblue;
    display: block;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  &_description-area {
    color: #565656;
    display: block;
    font-family: $familySans;
    margin-top: 8px;
    text-align: center;
  }
  &_icon {
    position: absolute;
    right: 10px;
    top: 0;
    .g-icon-gold,
    .g-icon-silver,
    .g-icon-bronze {
      height: 25px;
      width: 25px;
    }
  }
}
@media (max-width: 820px) {
  .b-company {
    &_item {
      margin: 10px;
      &--participating {
        width: calc(100% * 1 / 3 - 13.33px);
        &:nth-child(4n) {
          margin-right: 20px;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 690px) {
  .b-company {
    margin: 10px 0 25px;
    &_wrapper {
      padding: 0;
    }
    &_wrapper--participating {
      margin: 30px 0;
      padding: 0px;
    }
    &_item--participating {
      box-shadow: none;
      height: auto;
      margin: 0;
      width: 100%;
      &:nth-child(1n) {
        margin-right: 0;
      }
    }
    &_box-list--participating {
      flex-direction: column;
      justify-content: center;
      margin-top: 0;
    }
    &_box-category {
      align-items: center;
      border-top: 1px solid #dcdcdc;
      display: flex;
      padding: 8px 25px;
    }
    &_logo--participating {
      height: 63px;
      margin: 0;
      width: 63px;
    }
    &_description {
      padding: 0 16px 0 12px;
      width: calc(100% - 63px);
    }
    &_description-title,
    &_description-area {
      text-align: left;
    }
    &_icon {
      top: 2px;
      right: 23px;
    }
  }

  @media (max-width: 620px) {
    .b-company_wrapper {
      &--sponsor {
        .b-company_title {
          margin-top: 0;
        }
      }
    }
  }

  @media (max-width: 420px) {
    .b-company_logo--sponsor {
      height: 62px;
      width: 128px;
    }
  }
  @media (max-width: 360px) {
    .b-company_title__text-seo {
      font-size: 17px;
    }
  }
}
