include ../_config/page
include mixins/_mixins

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    include includes/metas
    include includes/favicon
    block seo
    link(rel="stylesheet", type="text/css", href!="{{ asset('vendor.css') }}")
    link(rel="stylesheet", type="text/css", href!="{{ asset('global.css') }}")
    block stylesheets
    +gtm-block-header()
    block datalayer
  body
    block eplanning
    +gtm-block-body()
    include includes/l-header
    .l-main-body
      block content
    include includes/l-footer
    .u-hide
      include includes/icons.svg
    include templates/_templates
    block modals
    script(type="text/javascript").
      window.logged = '{{ auth.isLoggedIn() ? "1" : "0" }}';
      var settings = {};
      settings.aptitusUrl = '{{ base.getAptitusHost() }}';
    script(src!="{{ asset('manifest.js') }}", defer)
    script(src!="{{ asset('vendor.js') }}", defer)
    script(src!="{{ asset('babel-polyfill.js') }}", defer)
    block scripts
    include includes/pixeles
