.g-map {
  &_location {
    height: 305px;
    position: relative;
    overflow: hidden;
    &:hover {
      .g-map_click {
        display: flex;
      }
    }
   }
  &_click {
    align-items: center;
    cursor: pointer;
    display: none;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  &_canvas {
    background: #dedede;
    display: flex;
    height: 305px;
  }
  &_button {
    background: #000;
    border: none;
    color: #fff;
    opacity: .7;
    padding: 10px 15px;
  }
  &_google-maps {
    cursor: pointer;
    left: 50%;
    margin-left: -320px;
    max-width: none;
    position: absolute;
  }
}
