@import "../../_config/_mixins";

.l-footer {
  &_inner {
    background: #333;
    padding: 4px;
    position: relative;
  }
  &_main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }
  &_social-networks {
    display: flex;
    justify-content: center;
  }
  &_link {
    color: $black;
    font-size: 14px;
    padding: 15px;
    text-align: center;
  }
  &_links-list {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &_item {
    font-family: $familySans;
    font-size: 12px;
    margin: 0 10px;
    vertical-align: middle;
  }
  &_link-enlace {
    @include hover(none, $blue);
    color: $black;
    cursor: pointer;
    text-decoration: none;
  }
  &_icon {
    margin: 0 7px;
    position: relative;
    .g-icon {
      position: relative;
      &-facebook-circle {
        @include icon(#fff, 32px, 32px);
      }
      &-twitter-circle {
        @include icon($sky, 32px, 32px);
      }
      &-linkedin-circle {
        @include icon($jade, 32px, 32px);
      }
    }
  }
}

@media (max-width: 834px) {
  .l-footer {
    &_inner {
      padding: 10px;
    }
    &_main {
      justify-content: space-between;
      padding: 0;
    }
    &_icon {
      &:before {
        left: 1px;
      }
    }
    &_links-list {
      flex-wrap: wrap;
      margin: 10px 0;
    }
    &_item {
      margin: 2px 5px;
    }
    &_link {
      padding: 0;
    }
  }
}
