.u-center_box {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 10px;
  position: relative;
}
.u-hide {
  display: none;
}
.u-underline {
  text-decoration: underline;
}
.u-center-image {
  display: block;
  position: relative;
  img {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.u-hide-form {
  position: fixed;
  top: 0;
  visibility: hidden;
}
.u-social-media {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  &_link {
    margin: 0 6px;
  }
  &_link-view {
    margin: 0;
  }
  .g-icon {
    fill: #bdbfc4;
    height: 33px;
    margin-left: 6px;
    width: 33px;
  }
}
.u-text-justified {
  text-align: justify;
}
.u-row {
  &:after,
  &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.u-icon {
  color: rgb(41, 130, 183);
  padding: 0;
}
.u-image-company-logo {
  width: 100%;
}
