/* Paths */
$imgPath: "images/";
$fontPath: "fonts/";

/* font family variables */
$familyDefault: "museo300-webfont", "arial", "sans-serif";
$familyBold: "museo500-webfont", "arial", "sans-serif";
$familySans: "museoSans-webfont", "arial", "sans-serif";
$basefont: 14px;
$tabletfont: 13px;
$mobilefont: 15px;

/* Colors */
$blue: #045584;
$blueHover: #04304a;
$pink: #f21651;
$pinkHover: #d21044;
$green: #00c617;
$greenHover: #07b01b;
$grayLine: #cccccc;
$skyblue: #3798cf;
$skyblueHover: #1f78ab;
$black: #040405;
$darkblue: #3b5997;
$sky: #54aced;
$red: #db4d41;
$gray: #bec1c6;
$jade: #007aaa;
$paginatorColor: #ffffff;

/* Breakpoints */
$mobile: max-width 414px;
$tablet: 414px 1050px;
