.b-expo-ended {
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
  &_inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    width: 800px;
  }
  &_title {
    color: #4191cc;
    font-family: $familyBold;
    font-size: 32px;
    margin-bottom: 6vh;
  }
  &_wrapper-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &_subtitle {
    color: #9b9b9b;
    font-size: 19px;
  }
  &_phrase {
    align-self: center;
    color: #000;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    width: 158px;
  }
  &_search {
    margin-top: 10vh;
    .g-btn {
      height: 36px;
      line-height: 36px;
      margin-top: 8px;
      padding: 0 37px;
    }
  }
  &_search-message {
    color: #000;
    font-size: 18px;
    font-family: $familyBold;
  }
  &_list {
    display: flex;
    justify-content: space-around;
  }
  &_list-item {
    padding-top: 20px;
    width: 200px;
    .g-icon {
      fill: #68696a;
      height: 60px;
      margin-bottom: 10px;
      width: 60px;
    }
  }
  &_text {
    color: #000;
    b {
      font-family: $familyBold;
    }
  }
  &_box-message {
    height: calc(100% - 85vh);
  }
  &_message {
    color: #000;
    padding: 20px 10px;
    text-align: center;
  }
  &_message-title {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 10px;
  }
}
