.g-expo-company{
  &_box-image {
    height: 90vh;
    & > img {
      width: auto;
    }
  }
  &_image {
    height: 100%;
    left: 50%;
    object-fit: contain;
    position: absolute;
    top: 0;
    transform: translate(-48%, 0);
  }
}
