@media(max-width: 620px) {
  .g-expo-company{
    padding: 0;
    &_image {
      transform: translate(-50% , 0);
    }
  }
  .b-expo-ended {
    &_inner {
      margin-bottom: 65px;
      padding: 0 40px;
    }
    &_title {
      font-size: 22px;
    }
    &_logo {
      height: 85px;
    }
    &_search-message:last-child {
      padding: 0 45px;
    }
    &_message-contact {
      display: block;
      font-family: $familySans;
    }
  }
}