.g-expo-company
  .g-expo-company_box-image
    .b-expo-ended
      .b-expo-ended_inner
        h2.b-expo-ended_title Gracias por participar en la
        .b-expo-ended_wrapper-logo
          img.b-expo-ended_logo(src!="{{ asset('/images/logo-feria.svg') }}", width="200", height="85")
          .b-expo-ended_phrase La feria virtual de trabajo más grande del Perú
        .b-expo-ended_search
          p.b-expo-ended_search-message Sigue buscando tu trabajo ideal
          p.b-expo-ended_search-message
            | Entra a&nbsp;
            img(src!="{{ asset('/images/logo-aptitus.svg') }}", width="95", height="20")
            |.com y encuéntralo
          a.g-btn.g-btn--blue(href="https://aptitus.com/buscar-trabajo-en-peru", target="_blank")
            span.g-btn__label Buscar
    img.g-expo-company_image(src!="{{ asset('/images/close-expoaptitus.jpg') }}", alt='ExpoFeria Aptitus')
.u-center_box
  .b-expo-ended_box-message
    .b-expo-ended_message
      h3.b-expo-ended_message-title
        span.b-expo-ended_message-contact  Contáctanos al
        b  (01) 311-6707
        |  - Opción
        b  3
        |  Fonoventas
      h4.b-expo-ended_message-subtitle Horarios: lunes a viernes 8:00am a 6:00pm
