.b-list-ads {
  &_title {
    background: #333;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
  }
  &_box {
    border-bottom: 1px solid $grayLine;
    color: #000;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 15px 10px 15px;
    &:hover {
      background: #ecebe9;
    }
  }
  &_name {
    color: $skyblue;
    font-weight: 700;
    text-transform: uppercase;
    word-break: break-word;
  }
  &_company {
    margin: 5px 0;
    text-transform: uppercase;
  }
  &_features {
    display: flex;
    font-family: $familySans;
    font-size: 13px;
    margin: 5px 0;
    .g-icon {
      height: 15px;
      width: 20px;
    }
  }
  &_features-left {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 250px);
  }
  &_features-right {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    width: 250px;
  }
  &_duration,
  &_category {
    align-items: center;
    display: flex;
    width: 300px;
  }
  &_duration {
    justify-content: flex-start;
  }
  &_category {
    justify-content: flex-start;
  }
  &_label {
    margin-left: 10px;
  }
  &_price {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .g-icon {
      height: 20px;
    }
  }
}
