#modalQuestions.g-modal.b-modal-questions
  .b-header-questions
    .b-header-questions_column-logo.u-center-image
      img.b-header-questions_column-logo__image(src!="{{ data.image }}")
    .b-header-questions_column-text
      p.b-header-questions_column-text__description La empresa {{ data.company }} desea que contestes estas preguntas para poder tener una visión más clara de sus postulantes:
  form#frmModalQuestions.js-form-valide.b-modal-share-email_form(method="post", action!="{{ url('fair_job_apply', {jobId: data.id, redirect: app.request.uri}) }}", onsubmit!="{{ datalayer.createDataLayer('postulacion', 'Postulacion', 1, {'applied': data.applied, 'jobId': data.id, 'hasQuestions': data.has_questions})|raw }}")
    .g-form-box.g-form-box--fair.g-custom-scrollbar
      .b-modal-questions_scroll-form
        | {% for question in data.questions %}
        .g-form-box_row.g-custom-scrollbar_item
          .g-form-box_col12
            fieldset.g-form-box_fieldset.js-fieldset
              label.g-form-box__label(for!="txaQuestion{{ loop.index }}") {{ loop.index }}. {{ question.body }}
              textarea.g-form_textarea.js-textarea(id!="txaQuestion{{ loop.index }}" name!="answers[{{ question.id }}][body]", maxlength="750", required)
              input(type="hidden", name!="answers[{{ question.id }}][question_id]", value!="{{ question.id }}")
        | {% endfor %}
    .g-modal_btn-container
      button.g-btn.g-btn--blue.js-cancel(type="button") Cancelar
      button#btnSaveQuestions.g-btn.g-btn--white
        span.g-btn__label Enviar
        span.g-btn__spinner
