.b-offers-list
  +g-eplanning("Middle")
  .b-offers-list_search
    form.b-offers-list_search_wrap(method="GET")
      input.b-offers-list_search_wrap_input(type="text", name="q", placeholder="Buscar cursos", value="{{query}}")
      button.b-offers-list_search_wrap_button.js-btn-search(type="submit")
        +g-icon("g-icon-lens")
  | {% set first, last, page = 0, 0, 0 %}
  | {% if paginate.navigation is not empty %}
  | {% set first, last, page = paginate.navigation.first.page, paginate.navigation.last.page, actual_page %}
  | {% endif %}
  | {% if records.data is not empty %}
  .b-list-ads
    h2.b-list-ads_title CURSOS
    | {% for job in records.data %}
    | {% set jobSlug = job.slug ~ "-" ~ job.id  %}
    | {% set coinSymbol = (job.coin == 'Dólares' ? '$': (job.coin == 'Soles' ? 'S/': '')) %}
    a.b-list-ads_box(href !="{{ url('education_detail', {slug: job.company_slug, slugEducation: jobSlug}) }}", onclick!="{{ datalayer.createDataLayer('job', job.company_slug, 1, {'jobName': job.title, 'jobId': job.id, 'first': first, 'last': last, 'page': page})|raw }}")
      .b-list-ads_name {{ job.title }}
      .b-list-ads_company {{ job.institution }}
      .b-list-ads_features
        .b-list-ads_features-left
          .b-list-ads_duration
            +g-icon("g-icon-clock")
            span.b-list-ads_label {{ (job.duration ? job.duration ~ " " ~ job.duration_type: 'Sin Especificar') }}
          .b-list-ads_category
            | {% if job.modality %}
            +g-icon("g-icon-laptop")
            span.b-list-ads_label {{ job.modality }}
            | {% endif %}
        .b-list-ads_features-right
          | {% if job.price %}
          span.b-list-ads_price {{ coinSymbol ~ " " ~ (job.price|number_format(2, '.', ','))|replace({".00" : ""}) }}
          | {% else %}
          span.b-list-ads_price
            +g-icon("g-icon-money")
            span.b-list-ads_label  A consultar
          | {% endif %}
    | {% endfor %}
  | {% if not paginate.navigation is empty %}
  .g-table_paginate
    ul.g-paginator_mobile
      li.g-paginator_mobile__item.g-paginator_mobile__item-left
        | {% if paginate.navigation.prev.disabled %}
        a.g-paginator_mobile__item-link.is-disabled(title="Anterior")
          +g-icon("g-icon-arrow_left")
          span anterior
        | {% else %}
        a.g-paginator_mobile__item-link(title="Anterior", href!="{{ paginate.navigation.prev.url }}")
          +g-icon("g-icon-arrow_left")
          span anterior
        | {% endif %}
      li.g-paginator_mobile__item.g-paginator_mobile__item-right
        | {% if paginate.navigation.next.disabled %}
        a.g-paginator_mobile__item-link.is-disabled(title="Siguiente")
          span siguiente
          +g-icon("g-icon-arrow_right")
        | {% else %}
        a.g-paginator_mobile__item-link(title="Siguiente", href!="{{ paginate.navigation.next.url }}")
          span siguiente
          +g-icon("g-icon-arrow_right")
        | {% endif %}
  | {% endif %}
  | {% else %}
  .b-offers-list_empty No hemos encontrado cursos.
  | {% endif %}
  .b-offers-list_footer
    | {% if not paginate.navigation is empty %}
    .g-paginator
      ul.g-paginator_desktop
        li.g-paginator_desktop__item.g-paginator_desktop__item-first-child
          | {% if paginate.navigation.first.disabled %}
          a.g-paginator_desktop__item-link.is-disabled(title="Primera")
            +g-icon("g-icon-double_arrow")
          | {% else %}
          a.g-paginator_desktop__item-link(title="Primera", href!="{{ paginate.navigation.first.url }}")
            +g-icon("g-icon-double_arrow")
          | {% endif %}
        li.g-paginator_desktop__item
          | {% if paginate.navigation.prev.disabled %}
          a.g-paginator_desktop__item-link.is-disabled(title="Anterior" )
            +g-icon("g-icon-previous_page")
          | {% else %}
          a.g-paginator_desktop__item-link(title="Anterior", href!="{{ paginate.navigation.prev.url }}" )
            +g-icon("g-icon-previous_page")
          | {% endif %}
        | {% for page in paginate.pages %}
        | {% if page.active %}
        li.g-paginator_desktop__item
          a.g-paginator_desktop__item-link.is-active {{ page.page }}
        | {% else %}
        li.g-paginator_desktop__item
          a.g-paginator_desktop__item-link(href!="{{ page.url }}") {{ page.page }}
        | {% endif %}
        | {% endfor %}
        li.g-paginator_desktop__item
          | {% if paginate.navigation.next.disabled %}
          a.g-paginator_desktop__item-link.is-disabled.next(title="Siguiente")
            +g-icon("g-icon-previous_page")
          | {% else %}
          a.g-paginator_desktop__item-link.next(title="Siguiente", href!="{{ paginate.navigation.next.url }}")
            +g-icon("g-icon-previous_page")
          | {% endif %}
        li.g-paginator_desktop__item.g-paginator_desktop__item-last-child
          | {% if paginate.navigation.last.disabled %}
          a.g-paginator_desktop__item-link.is-disabled.next(title="Última")
            +g-icon("g-icon-double_arrow")
          | {% else %}
          a.g-paginator_desktop__item-link.next(title="Última", href!="{{ paginate.navigation.last.url }}")
            +g-icon("g-icon-double_arrow")
          | {% endif %}
    | {% endif %}
