.b-nav-features_column.b-nav-features_column--slider
  ul.b-nav-features_container-tabs.js-container-tabs
    li.b-nav-features_items.b-nav-features_items--desktop
      .b-nav-features_items-name.js-tab-link.is-active(
      data-key    = "avisos",
      data-url   != "{{ path('education_slug_record',  {'slug': company.slug })}}",
      data-title != "{{ titles.avisos }}",
      onclick != "{{ datalayer.createDataLayer('info', 'Ofertas', 1, {'companySlug': company.slug})|raw }}") Ofertas
    | {% if is_mobile() %}
    | {% if company.stand.video %}
    li.b-nav-features_items.b-nav-features_items--mobile
      .b-nav-features_items-name Video
      .b-nav-features_content-mobile
        include ./b-view-video-mobile
    | {% endif %}
    | {% endif %}
    | {% if not ( company.profile is empty and company.latitude is empty and company.longitude is empty ) %}
    li.b-nav-features_items
      .b-nav-features_items-name.js-tab-link(
      data-key    = "perfil-institucional",
      data-url   != "{{ path('education_company_profile', {'slug': company.slug })}}",
      data-title != "{{ titles.perfil }}",
      onclick != "{{ datalayer.createDataLayer('info', 'Institución', 1, {'companySlug': company.slug})|raw }}") Institución
      | {% if is_mobile() %}
      .b-nav-features_content-mobile
        include ./b-more-information-mobile
      | {% endif %}
    | {% endif %}

    | {% if company.image_gallery is not empty %}
    li.b-nav-features_items
      .b-nav-features_items-name.js-tab-link(
      data-key="galeria",
      data-show="false",
      data-url   != "{{ path('education_company_gallery', {'slug': company.slug })}}",
      data-title != "{{ titles.galeria }}",
      onclick != "{{ datalayer.createDataLayer('info', 'Imágenes', 1, {'companySlug': company.slug})|raw }}") Imágenes
      | {% if is_mobile() %}
      .b-nav-features_content-mobile
        include ./b-image-gallery.pug
      | {% endif %}
    | {% endif %}

    | {% if company.document is not empty %}
    li.b-nav-features_items.b-nav-features_items--desktop
      .b-nav-features_items-name.js-tab-link(
      data-key    = "documentos-descargables",
      data-url   != "{{ path('education_company_documents', {'slug': company.slug })}}",
      data-title != "{{ titles.documentos }}",
      onclick != "{{ datalayer.createDataLayer('info', 'Descargables', 1, {'companySlug': company.slug})|raw }}") Descargables
    | {% endif %}

