/* ===============================
    Styles Block Error Page
   ===============================*/

.l-main-body {
  align-items: center;
  display: flex;
  justify-content: center;
}

.b-error-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px 0px;
  padding: 0px 20px;
  width: 100%;
  &_title {
    margin-bottom: 40px;
    text-align: center;
  }
  &_img {
    width: 100%;
  }
}

@media (max-width: 690px) {
  .b-error-page {
    margin: 50px 0px;
  }
}